// libs
@import "normalize";
// @import "locomotive-scroll";

@import "variables";
@import "mixins";
@import "base";
@import "type";

@import "switch";
@import "range";
@import "flexibleFontSize";

@import "control";

@import "layout";
