:root {
    font-size: 18px;
}

* {
    margin: 0;
    // outline: dotted 1px rgba($dark, 0.1);
}

body {
    background: $warmGray;
    color: $dark2;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 0.5em;
    color: $dark;
    font-weight: 600;
}

.small {
    color: $dark3;
    font-size: rem-calc(16px);
    line-height: rem-calc(24px);
}

ul {
    list-style: none;
    padding-left: 1em;
    margin-bottom: 1em;
    ul {
        padding-left: 0;
    }
    li::before {
        content: "▶";
        color: $green;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

.relative {
    position: relative;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

@include mobile() {
    .hidden-mobile {
        display: none !important;
    }
}

@include desktop() {
    .hidden-desktop {
        display: none !important;
    }
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}

// Design
section {
    padding: 4rem 0 3rem;
}

.card {
    background: #fff;
    padding: 2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.inspectable {
    cursor: url("../images/cursor+.svg") 16 16, crosshair;
}

.embed-container {
    position: relative;
    padding-bottom: 80px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}


table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    th {
        font-variant: small-caps;
    }
    td, th {
        border-bottom: 1px solid $beige4;
        padding: 0.1rem 0.2rem;
    }
}