// Colors
$beige: #999593;
$beige2: rgba($beige, 0.85);
$beige3: rgba($beige, 0.65);
$beige4: rgba($beige, 0.45);

$warmGray: #efeeea;

$green: #01E0A7;
$green2: rgba($green, 0.85);
$green3: rgba($green, 0.65);
$green4: rgba($green, 0.45);

$dark: #151525;
$dark2: rgba($dark, 0.85);
$dark3: rgba($dark, 0.65);
$dark4: rgba($dark, 0.45);

// Grid
$width: 1120px;
$grid-gap: 32px;
$grid-margin: 0;
$columns: 12;
